<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Rakuten Tv- Your cinema at home</title>
    <link rel="shortcut icon dns-prefetch preconnect" href="https://prod2-kraken-cloudfront.rakuten.tv/images/favicons/favicon-503f333345.png">
    <link rel="stylesheet dns-prefetch preconnect" href="https://prod3-kraken-cloudfront.rakuten.tv/css/font-e6d609e5ef.css" >
  </head>
  <body>
    <div id='root'></div>
  </body>
</html>