.slider-item {
    flex: 0 0 35.5%;
    padding: 0 5px;
    position: relative;
    border-radius: 2px;
    @media screen and (min-width: 560px) {
      flex: 0 0 22.5%;
    }
    @media screen and (min-width: 1140px) {
      flex: 0 0 15.5%;
    }
    @media screen and (min-width: 1400px) {
      flex: 0 0 13.5%;
    }

  
   
  }
  .slider-item-image {
    vertical-align: top;
  }
  .slider-item-image :hover {
    border: 3px #ffe300 solid;
    padding: 0px;
    cursor: pointer;
    border-radius: 5px; 
  }
